---
- name: Configure Credential
  block:
    - name: "Stage {{ item.ssh_key_data | basename }} Private Key"
      copy:
        src: "{{ item.ssh_key_data }}"
        dest: "/tmp/{{ item.ssh_key_data | basename }}"
      when: item.ssh_key_data is defined
      with_items: "{{ tower_credentials|default([]) }}"

    - name: "Add Tower Machine Credential {{ item.name }}"
      tower_credential:
        name: "{{ item.name }}"
        description: "{{ item.description }}"
        kind: "{{ item.kind }}"
        organization: "{{ item.organisation }}"
        state: "{{ item.state  | default(present)}}"
        ssh_key_data: "/tmp/{{ item.ssh_key_data  | basename | default(None) }}"
        username: "{{ item.username | default(None) }}"
        password: "{{ item.password | default(None) }}"
      when: item.name is defined
      with_items: "{{ tower_credentials | default([]) }}"

    - name: "Remove {{ item.name }} staging file"
      file:
        path: "/tmp/{{ item.ssh_key_data  | basename }}"
        state: absent
      with_items: "{{ tower_credentials | default([]) }}"
...
