---
- name: Configure Credential
  block:
    - name: "Add Tower Machine Credential {{ item.name }}"
      shell: "tower-cli credential create -n {{ item.name | quote }}  --organization {{ item.organization | quote }} --credential-type {{ item.credential_type }} --inputs {{ item.details | default([]) | to_json | quote }}"
      register: credential_created
      with_items: "{{ tower_credentials|default([]) }}"
...