---
- name: Configure Credential
  block:
    - name: "Stage {{ item.ssh_key_data | basename }} Private Key"
      copy:
        src: "{{ item.ssh_key_data }}"
        dest: "/tmp/{{ item.ssh_key_data | basename }}"
      when: item.ssh_key_data is defined
      with_items: "{{ tower_credentials|default([]) }}"

    - name: "Add Tower Machine Credential {{ item.name }}"
      shell: "tower-cli credential create -n {{ item.name | quote }}  --organization {{ item.organization | quote }} --credential-type {{ item.credential_type }} --inputs {{ item.details | default([]) | to_json }}"
      register: credential_created
      with_items: "{{ tower_credentials|default([]) }}"

    debug: 
      var: "{{ credential_created }}"
      verbosity: 1

    - name: "Remove {{ item.name }} staging file"
      file:
        path: "/tmp/{{ item.ssh_key_data  | basename }}"
        state: absent
      with_items: "{{ tower_credentials | default([]) }}"
...