---
- include: config_type.yml

- include: prereqs.yml
  when: tower_prereqs_config|bool == true

- include: auth.yml
  when: tower_cli_credentials_config|bool == true

- include: license.yml
  when tower_license_config|bool == true
  
- include: user.yml
  when: tower_user_add|bool == true

- include: org.yml
  when: tower_org_config|bool == true

- include: credentials.yml

- include: inventory.yml
  when: tower_inventory_config|bool == true

- include: projects.yml

- include: job_templates.yml

- include: workflows.yml

- include: deauth.yml
  when: not tower_cli_credentials_keep|bool == true
...
