---
- name: Configure Job Template
  tower_job_template:
    job_type: run
    name: "{{ item.name }}"
    description: "{{ item.description }}"
    state: present
    inventory: "{{ item.inventory }}"
    cloud_credential: "{{ item.cloud_credential | default(None) }}"
    project: "{{ item.project }}"
    playbook: "{{ item.playbook }}"
    machine_credential: "{{ item.machine_credential | default(None) }}"
    become_enabled: "{{ item.become_enabled | default(None) }}"
  with_items: "{{ tower_templates | default([]) }}"

- name: Copy Job Template for Extra Variables file
  template:
    src: "{{ item.extra_vars_path }}"
    dest: "/tmp/{{ item.extra_vars_path }}"
  when: item.job_template == "copy"
  with_items: "{{ tower_templates | default([]) }}"

- name: Update Job Template with Extra Vars
  command: >
    tower-cli job_template modify
      -u {{ tower_username }}
      -p {{ tower_password }}
      --name="{{ item.name }}"
      --extra-vars="@/tmp/{{ item.extra_vars_path }}"
      "{{ tower_cli_verbosity }}"
  when: (item.job_template == "copy") or (item.job_template == "update")
  with_items: "{{ tower_templates | default([]) }}"

- name: Launch Job for Self-Configure - this will block while the job runs and will wait up to {{ tower_job_self_configure_launch_async | int // 60 }} minutes to complete, see Tower UI Jobs for detailed progress
  command: tower-cli job launch --job-template {{ tower_job_template_self_configure }} --monitor
  async: "{{ tower_job_self_configure_launch_async }}"
  poll: "{{ tower_job_self_configure_launch_poll }}"
  when:
    - tower_job_self_configure_launch|bool == true
    - tower_job_template_self_configure_config|bool == true
...
