---
- name: Add user to manage Tower
  tower_user:
    username: "{{ tower_cli_user }}"
    password: "{{ tower_cli_password }}"
    email: "{{ tower_cli_user + '@example.com' }}"
    state: present
    superuser: true
...