---
- name: Configure SSH Key Machine Credential
  block:
    - name: "Stage {{ item.ssh_key_data }} Private Key"
      synchronize:
        src: "{{ item.ssh_key_data }}"
        dest: "/tmp/{{ item.ssh_key_data }}"
      when: item.ssh_key_data is defined

    - name: "Add Tower Machine Credential {{ item.name }}"
      tower_credential:
        name: "{{ item.name }}"
        description: "{{ item.description }}"
        kind: "{{ item.kind }}"
        organization: "{{ item.organisation }}"
        state: present
        ssh_key_data: "/tmp/{{ item.ssh_key_data | default(None) }}"
        username: "{{ item.username | default(None) }}"
        password: "{{ item.password | default(None) }}"
      when: item.name is defined

    - name: "Remove {{ item.name }} staging file"
      file:
        path: "/tmp/{{ item.ssh_key_data }}"
        state: absent

  with_items: "{{ tower_credential_machines | default([])"
  when: item.name is defined  
...
